@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: rgb(89, 250, 159);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1 em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform:scaleX(1);
}

.navigation img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;  
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #d9d9d9;
    padding: 10px;
    margin: 0px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    font-weight: 500;
}

.user-info img{
    width: 30%;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #000;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.hero-heading{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    /* background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%); */
    /* background-color: #84fb95;
    background-image: linear-gradient(315deg, #cef576 0%, #84fb95 74%); */
    background-color: #f9ea8f;
    background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
    padding: 200px;
    display: flex;
    margin-top: -120px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center;
    text-align: center; */
}

.search-resulting{
    color: #000;
    font-size: 14px;
}

.search-resulting h1{
    margin-top: 5%;
    font-weight: 600;
}

.search-resulting hr{
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search-resulting table{
    width: 100%;
    margin-top: 3%;
    /* margin-left: 15%; */
    border: 2px solid black;
}