@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: ubuntu;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: rgb(89, 250, 159);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1 em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform:scaleX(1);
}

/* .navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #070000;
} */

.navigation img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;  
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #d9d9d9;
    padding: 10px;
    margin: 0px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    font-weight: 500;
}

.user-info img{
    width: 30%;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #000;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    margin-top: 10px;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.wrapper{
    width: 100%;
    position: absolute;
    z-index: 1;
}

/* .wrapper ul{
    height: 50px;
    display: flex;
    justify-content: center;
}

.wrapper ul li{
    display: inline-block;
    padding: 40px 15px;
}

.wrapper ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
}

.wrapper ul li a:hover{
    background: #fff;
    color: #000;
} */

.wrapper h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    color: #000;
    font-size: 50px;
    margin-top: 8%;
    /* margin-bottom: 15px; */
}

.wrapper h2{
    text-align: center;
    font-family: cursive;
    width: 100%;
    color: #000;
    font-size: 25px;
    /* margin-top: 15%; */
    margin-bottom: 15px;
}

.wrapper p{
    text-align: center;
    font-size: 15px;
    width: 40%;
    margin: auto;
    color: #000;
    line-height: 1.7;
}

.objects{
    background-color: #f9ea8f;
    background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
    width: 100%;
    height: 360vh;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.12);
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 50%;
}

.box li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box li:nth-child(4){
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) scale(0);
    }
    100%{
        transform: translateY(-800px) scale(2);
        opacity: 0;
    }
}

.wrapper .row .col .search_box{
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
}

.wrapper .row .table{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    border: 2px solid black;
}

.wrapper .row .col .search_button{
    margin-left: 150px;
    margin-top: 25px;
    width: 80%;
}

.wrapper .row .col .link-search{
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
}

.wrapper .row .col .table-link{
    width: 70%;
}

.wrapper .row .col .link-search-button{
    margin-left: 150px;
    margin-top: 25px;
    width: 80%;
}
