<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<h1> Home Page </h1>
<form>
    <div class="form-group">
      <label for="search">Search:</label>
      <input type="text" class="form-control" id="search" placeholder="Search Albums, Genres, Artists, or Tracks">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>