<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<body>
    <section class="about-section" id="about">
        <h1> Welcome to Musilinky</h1>
        <p> A service that provides links to other music services at the push of a button.</p>
        <a href="/find" class="btn"> Get Started </a>
        <div class="triangle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>

    <section class="howto-section" id="howto">
        <h2>How to Use Musilinky</h2>
        <div class="howto-container">
            <div class="howto-item">
                <img src="" alt="">
                <h3> Copy URL of the Music Link</h3>
                <p> First, find the music link you would like to copy. Then, copy the link to your clipboard.</p>
            </div>
            <div class="howto-item">
                <img src="" alt="">
                <h3> Paste URL into the Search Bar</h3>
                <p> Once you have the link ready, paste it into the search bar and the service will search for your music once you press the button.</p>
            </div>
            <div class="howto-item">
                <img src="" alt="">
                <h3> Press the Button to Search</h3>
                <p> After some time, Musilinky will then print out the results of all the music services that have the music. Then, you can copy the
                    link for the music service you want to listen on.</p>
            </div>
            <div class="howto-item">
                <img src="" alt="">
                <h3> Done!</h3>
                <p> Enjoy your music within your chosen music service!</p>
            </div>
        </div>
    </section>
</body>

<%- include ('../partials/footer') %>
