<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<body>
    <section class="about-section" id="about">
        <h1> Welcome to Musilinky</h1>
        <p>> A service that provides links to other music services at the push of a button </p>
        <a href="#search" class="btn"> Get Started </a>
        <div class="triangle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>

    <section class="howto-section" id="howto">
        <h2>How to Use Musilinky</h2>
        <div class="howto-container">
            <div class="howto-item">
                <img src="" alt="">
                <h3> Copy URL of the Music Link</h3>
                <p> First, find the link you would like to Copy. Then, copy the music link that you want the service to find.</p>
            </div>
            <div class="howto-item">
                <img src="" alt="">
                <h3> Paste it into the search bar</h3>
                <p> Once you have the link ready paste it into the search bar and the service will search for your music once you hit the button.</p>
            </div>
            <div class="howto-item">
                <img src="" alt="">
                <h3> Hit the button to Search</h3>
                <p> After some time, Musilinky will then print out the results of all the music services that do have the music and you can copy that
                    link and listen to it within the music service that you have.</p>
            </div>
            <div class="howto-item">
                <img src="" alt="">
                <h3> Done!</h3>
                <p> Enjoy your music within your music service!</p>
            </div>
        </div>
    </section>
</body>