<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <a class="nav-link" href="/">Logged out Successfully!!</a>
    </div>
  </main>
<%- include ('../partials/footer') %>