<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<!-- 
<!DOCTYPE html>
<html>
<head>
  <title>My Playlist</title>
  <script type="text/javascript">
    const db = openDatabase("mydb", "1.0", "My Playlist", 2 * 1024 * 1024);
    
    // Define a Playlist class
    class Playlist {
      constructor(name, creator) {
        this.name = name;
        this.creator = creator;
        this.tracks = [];
      }

      addTrack(track) {
        this.tracks.push(track);
      }

      removeTrack(track) {
        const index = this.tracks.indexOf(track);
        if (index !== -1) {
          this.tracks.splice(index, 1);
        }
      }

      getTotalDuration() {
        let totalDuration = 0;
        this.tracks.forEach((track) => {
          totalDuration += track.duration;
        });
        return totalDuration;
      }

      getTrackCount() {
        return this.tracks.length;
      }

      saveToDatabase() {
        db.transaction(function(tx) {
          tx.executeSql('INSERT INTO Playlist (name, creator) VALUES (?, ?)', [this.name, this.creator]);
          tx.executeSql('SELECT last_insert_rowid() AS id', [], function(tx, result) {
            const playlistId = result.rows.item(0).id;
            this.tracks.forEach((track) => {
              tx.executeSql('INSERT INTO Track (title, artist, duration, playlist_id) VALUES (?, ?, ?, ?)', [track.title, track.artist, track.duration, playlistId]);
            });
          });
        });
      }
    }

    // Define a Track class
    class Track {
      constructor(title, artist, duration) {
        this.title = title;
        this.artist = artist;
        this.duration = duration;
      }
    }

    // Create a new playlist and add some tracks to it
    const myPlaylist = new Playlist("My Playlist", "John Doe");
    const track1 = new Track("Song 1", "Artist 1", 240);
    const track2 = new Track("Song 2", "Artist 2", 180);
    myPlaylist.addTrack(track1);
    myPlaylist.addTrack(track2);
    myPlaylist.saveToDatabase();
  </script> -->
</head>
<body>
  <h1>My Playlist</h1>
  <p>Playlist created and saved to database.</p>
</body>
</html>

