<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>

<h1>Profile Information</h1>
<div>
    <h2>Username:</h2>
    <p><strong>Sample Username</strong></p>
  </div>
  
  <div>
    <h2>About:</h2>
    <p><strong><br>Sample Description</strong></p>
  </div>
  
  <div>
    <h2>Date Joined:</h2>
    <p><strong>1/1/2023</strong></p>
  </div>

</main>



<%- include ('../partials/footer') %>