<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>

<h1>Profile Information</h1>
<div>
    <h2>Username:</h2>
    <p><strong>Sample Username</strong></p>
  </div>
  
  <div>
    <h2>About:</h2>
    <p><strong><br>Sample Description</strong></p>
  </div>
  
  <div>
    <h2>Date Joined:</h2>
    <p><strong>1/1/2023</strong></p>
  </div>

  <h1>Friends</h1>
  <!--        TODO: Remove friend button -->
  <div>
    <h2>Add Friend: </h2>
    <form action="/addFriend" method="post" class="row">
      <div class="col-sm-5">
        <label>
          <input name="username" type="text" class="form-control" placeholder="Enter username">
        </label>
      </div>

      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">Add Friend</button>
      </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>