<!-- <%- include ('../partials/header') %> -->
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="hero-header">
    <div class="navi-bar">
        <div class="pfp-image"> 
            <div class="pfp">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fthanos-smiling_61680_2248x2248.jpg&f=1&nofb=1&ipt=42a0c01d96b23ed9825792e13bdda0191e34428b04fb3c92eb813f23af850657&ipo=images" alt="profile pic">
            </div>

            <div class="pfp-text">
                <h5>Welcome <span class="input">Mad Titan,</span></h5>
                <h1>Thanos</h1>
                <p>
                    "Dread it. Run from it. Music still arrives." 
                    -<b>Thanos</b>
                </p>
                <hr>
                <p>
                    <strong>Date joined: February, 1973</strong>
                </p>

                <div class="button-group">
                    <a href="/initialize_playlist" class="btn"> Your Playlists </a>
                </div>

                <div class="socials">
                    <a href="#"><i class='bx bxl-github' ></i></a>
                    <a href="#"><i class='bx bxl-youtube' ></i></a>
                    <a href="#"><i class='bx bxl-soundcloud' ></i></a>
                    <a href="#"><i class='bx bxl-spotify' ></i></a>
                    <a href="#"><i class='bx bxl-apple' ></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    var togglebutton = document.querySelector(".togglebutton");
    var nav = document.querySelector(".navi-links");
    var links = document.querySelector(".navi-links li");

    togglebutton.addEventListener("click", function(){
        this.classList.toggle("click");
        nav.classList.toggle("open");
    })

    var typed = new Typed(".input",{
        strings:["Listener", "melomaniac", "Music Enthusiast"],
        typedspeed:70,
        backspeed:55,
        loop:true
    })
</script> -->

</main>



<%- include ('../partials/footer') %>