<%- include ('../partials/header') %>
<header>
    <h2 class="logo"> MUSILINKY </h2>
    <nav class="navigation">
        <a href="/home"> Home </a>
        <a href="/find"> Search </a>
        <button href="/logout" class="btnLogin-popup">Logout</button>
    </nav>   
</header>