<%- include ('../partials/header') %>

<header>
    <h2 class="logo"><i class='bx bxl-deezer' ></i> MUSILINKY </h2>
    <nav class="navigation">
        <a href="/home"> Home </a>
        <a href="/find"> Search </a>
        <a href="/initialize_playlist"> Playlist </a>
        <!-- <button class="btnLogin-popup">Login</a></button>  -->
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fthanos-smiling_61680_2248x2248.jpg&f=1&nofb=1&ipt=42a0c01d96b23ed9825792e13bdda0191e34428b04fb3c92eb813f23af850657&ipo=images" class="profile-page" onclick="toggleMenu()">

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fthanos-smiling_61680_2248x2248.jpg&f=1&nofb=1&ipt=42a0c01d96b23ed9825792e13bdda0191e34428b04fb3c92eb813f23af850657&ipo=images">
                    <h3>Welcome Thanos!</h3>
                </div>
                <hr>
                    
                <a href="/profile" class="sub-menu-link">
                    <!-- <img src="#"> -->
                    <p><i class='bx bxs-user-account'></i> Edit Profile </p>
                    <span>></span>
                </a>

                <a href="/login" class="sub-menu-link">
                    <!-- <img src="#"> -->
                    <p><i class='bx bxs-door-open' ></i> Logout </p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>   
</header>

<script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }
</script>
