<header>
    <h2 class="logo"> MUSILINKY </h2>
    <nav class="navigation">
        <a href="/home"><button class="btnHome-popup">Home</button></a>
        <a href="/find"><button class="btnFind-popup">Search</button></a>
        <a href="/profile"><button class="btnProfile-popup">Profile</button></a>
        <a href="/playlist"><button class="btnPlaylist-popup">Playlist</button></a>
        <a href="/logout"><button class="btnLogout-popup">Logout</button></a>
    </nav>
</header>