<%- include ('../partials/header') %>
<header>
    <h2 class="logo"> MUSILINKY </h2>
    <nav class="navigation">
        <a href="#home"> Home </a>
        <a href="#search"> Search </a>
        <button href="#login" class="btnLogin-popup">Login</button>
    </nav>   
</header>